.content{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;    
    background-color: lightcyan;
    padding: 2.5rem;
    margin-bottom: 2rem;
}


h1{
    text-align:center;
    font-weight: 600;
    font-size: 64px;
}

.table-job-information{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}
.table-number{
    width: 4rem;
}

.table-result-row{
    text-align: left;
}



.table-name{
    width: 20rem;
}

.table-title{
    width: 25rem;
}

.table-location{
    width: 10rem;
}

.table-date{
    width: 15rem;
}

.row-url{
    font-size:small;
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


tbody:nth-child(odd){
    background-color: #c0c0c0;
}
tbody:nth-child(even){
    background-color: #4682b4;
}
.table-result-row:hover{
    background-color: #fffacd;
}

table{
    height: 40vh;
    display: inline-block;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0 1rem;
}
.table-table{
    height: 75vh;
    background-color: lightgray
}

.table-skills{
    overflow: hidden;
}
.table-headers{
    background-color: yellow !important;
    font-size: larger;
}

th{
    border: 1px solid #080808;
}

.result{
    width: 75%;
}

.statistics-container{
    position: relative;
    
}
.delete-button{
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 16px;
    padding: 0.4rem 0.6rem;
    background-color: #a28089;
}

.update-button{
    position: absolute;
    right: 10px;
    top: 20%;
    font-size: 16px;
    padding: 0.4rem;
    background-color: #32de84;
}
.table-action{
    background-color: lightgray;
    border-collapse: collapse;
    width: 50px;
    text-align: center;
    border-spacing: 0;
    border: 0px;
}

.row-action{
    text-align: center;
    background-color: lightgray;
}

.table-result-row>td{
    padding-bottom: 0.5rem;
}

.table-results-date, .table-date-of-submission{
    text-align: center;
}

.table-result-note{
    text-align: center;
}


