.content{
    background-color: lightcyan;
    width: 100vw;
    padding: 2.5rem 0 2.5rem 0rem;
    margin-bottom: 2rem;
}


h1{
    text-align:center;
    font-weight: 600;
    font-size: 64px;
}

.table-job-information{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2.5rem;
    
}
.table-number{
    width: 4rem;
}

.table-result-row{
    text-align: left;
}



.table-name{
    width: 20rem;
}

.table-title{
    width: 25rem;
}

.table-location{
    width: 10rem;
}

.table-date{
    width: 15rem;
}

.row-url{
    font-size:small;
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


tbody:nth-child(odd){
    background-color: #c0c0c0;
}
tbody:nth-child(even){
    background-color: #4682b4;
}
.table-result-row:hover{
    background-color: #fffacd;
}

table{
    height: 40vh;
    display: inline-block;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0 1rem;
}
.table-table{
    height: 75vh;
    background-color: lightgray
}

.table-skills{
    overflow: hidden;
    height: 100%;
}
.table-headers{
    background-color: yellow !important;
    font-size: larger;
    border-spacing: 0 10px;
}

.header{
    padding: 0 0.5rem;
}
th{
    border: 1px solid #080808;
}

.keyword-result{
    width: 85vw;
    text-align: center;
    display: flex;
    gap: 1px;
    margin-left: 5rem;

}

#header-skill{
    padding: 0 1.5rem;

}
.statistics-container{
    position: relative;
    
}
.delete-button{
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 16px;
    padding: 0.4rem 0.6rem;
    background-color: #a28089;
}

.update-button{
    position: absolute;
    right: 10px;
    top: 20%;
    font-size: 16px;
    padding: 0.4rem;
    background-color: #32de84;
}
.table-action{
    border-collapse: collapse;
    width: 50px;
    text-align: center;
    border-spacing: 0;
    border: 0px;
}
.table-action, .row-action{
    background-color: #DCDCDC;
}
.row-action{
    text-align: center;
}

.table-result-row>td{
    padding-bottom: 0.5rem;
}

.table-results-date> .table-date-of-submission{
    text-align: center;
}

.table-result-note{
    text-align: center;
}


.table-headers>#table-sort:hover{
    cursor: pointer;
}

.keyword-header{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

.open-modal-text{
    color: blue;
    cursor: pointer;
    text-decoration-line: underline;
}

.table-index{
    font-weight: 800;
}

.table-value{
    color: #FFCCCF;
}