
.home{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: calc(100vh - 8vh - 2vh);
    color: #4dffa6;
}
.home-title{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
    font-size: 32px;
    font-weight: 1000;
}

hr.separator{
    height: 0.25rem;
    background-color: blueviolet;
    border: none;
}

.lower-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;            
    width: calc(100vw - 2rem - 25px);             
}
.lower-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two equal columns */
  grid-auto-rows: auto;                  /* autoâ€sized rows */
  gap: 2rem;                             /* space between cells */
  column-gap: 8rem;
}


.lower-container>.stat-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
}

.stat-title{
    font-size: 28px;
    text-align: center;
    background-color: #28a4a0;
    color: #ffffe0;
    width: 100%;
    margin-top: 4rem;
}  
.additional-parse-keyword-input{
    background-color: #e6fff2;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    min-height: 8vh;
    resize: none;
}

#update-modal-options.button-container{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 2rem;
}
.stat-update-button{
    background-color: #32de84;
    height: 2rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}

.stat-update-button:hover{
    filter: brightness(75%);    
    transition: filter 0.75s ease;
}

.user-value{
    color: #ffe4e1;
}