.sidebar{
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    width: 25px; /* Default collapsed width */
    transition: width 0.3s ease; /* Smooth transition */
    position: fixed; /* Fix sidebar on the left-hand side */
    top: 8vh; /* Start 10vh below the navbar */
    bottom: 2vh; /* End 2vh above the footer */
    z-index: 1; /* Ensure sidebar stays in the correct layer */
    display: flex;
    flex-direction: column;
  }

  .sidebar.expanded{
    width: 125px;
  }
.sidebar-button-options{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}
  .sidebar-toggle-button, .sidebar-button{
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    padding: 0;
    padding-bottom: 0.5rem;
    cursor: pointer;
    text-align: left;
  }

  .sidebar-toggle-button{
    text-align: center;
  }

  .sidebar-button{
    display: flex;               /* Enable flexbox */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    padding: 0.5rem 1rem;        /* Adjust button padding */
    font-size: 1rem;             /* Adjust text size */
    color: lightblue;
    border-radius: 10px;
  }

.sidebar-button:hover{
    background-color: #2F4F4F;
    transition: all 1s;
}

  .sidebar-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-size: 24px;
  }

  .sidebar-icon{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1.5rem;
  }
  .sidebar-icon:hover{
    cursor: pointer;
  }
  .sidebar-about{
    display: flex;               /* Enable flexbox */
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    padding: 0.5rem 1rem;        /* Adjust button padding */
    font-size: 1rem;             /* Adjust text size */
    margin-top: auto;
  }
  .sidebar-about:hover{
    cursor: pointer;
  }