
.text-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.text-input{
    height: 15vh;
    max-height: 30vh;
    min-height: 10vh;
    padding: 1rem;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.text-submit-button{
    background-color: lightgreen;
    border-radius: 10px;
    font-size: larger;
}

.result{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 25vh;
    flex-wrap: wrap;
    gap: 1.25rem;
    color: #4dffa6;
}

.user-input-field{
    display: flex;
    gap: 10px;
}

.company-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    width: 15vw;
}

.company-information{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}
.text-reset-button{
    background-color: lightsalmon;
    border-radius: 10px;
    font-size: large;
}

.error-description{
    margin-top: 4rem;
    color: red;
    font-size: 32px;
    text-align: center;

}

.text-input, .company-information{
    background-color: #e6fff2;
}


/* Container with consistent width */
.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px; /* fixed width, can adjust */
  max-width: 90%;
}

/* Each row uses 2 equal columns */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/* Make a field span across both columns */
.full-span {
  grid-column: span 2;
}

/* Form controls */
.form-control {
  display: flex;
  flex-direction: column;
  
}

.label-description{
    color: white;
}

.date-picker{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.button-area{
    display: flex;
    justify-content: space-evenly;
}