
.text-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text-input{
    width: 75vb;
    height: 30vh;
    max-height: 50vh;
    min-width: 30vb;
    max-width: 100vb;
    min-height: 10vh;
    padding: 1rem;
}

.text-submit-button{
    background-color: lightgreen;
    border-radius: 10px;
    font-size: larger;
}

.result{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40vh;
    flex-wrap: wrap;
    gap: 10px;
}

.user-input-field{
    display: flex;
    gap: 10px;
}

.company-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
}

.company-information{
    padding: 0.5rem;
    width: 30vb;
}
.text-reset-button{
    margin-top: 1.5rem;
    background-color: lightsalmon;
    border-radius: 10px;
    font-size: large;
}

.error-description{
    margin-top: 4rem;
    color: red;
    font-size: 32px;
    text-align: center;

}